.side-menu-wrapper {
    // 菜单
    .menu-collapsed {
        padding-top: 10px;
        .ivu-dropdown {
            width: 100%;
            .svg-icon {
                font-size: 20px !important;
            }
        }
        .ivu-tooltip {
            width: 100%;
            .ivu-tooltip-rel {
                width: 100%;
                text-align: center;
                .menu-icon {
                    font-size: 20px;
                    margin-right: 0;
                }
            }
            .ivu-tooltip-popper .ivu-tooltip-content {
                .ivu-tooltip-arrow {
                    border-right-color: #fff;
                }
                .ivu-tooltip-inner {
                    background: #fff;
                    color: #495060;
                }
            }
        }
    }
    a.drop-menu-a {
        display: inline-block;
        padding: 6px 15px;
        width: 100%;
        text-align: center;
        color: #fff;
    }
}

.menu-title {
    padding-left: 6px;
}
.menu-collapsed {
    text-align: center;
}
.ivu-dropdown-transfer {
    .ivu-dropdown-rel {
        .drop-menu-a {
            .svg-icon {
                color: rgb(73, 80, 96);
            }
            color: #515a6e;
        }
    }
}
